#board{
    position            : relative;
    width:257 ;
    height:257 ;
}

.cell
{
    position            : relative;
    top                 : 1px;
    left                : 1px;
    width               : 31px;
    height              : 31px;
    background-color    : #28b04a;/*背景の色(石の素材のblack,whiteの背景と合わせる)*/
/*色はcssで16進数を使ってRBGを調節しているがペイントでは10進数*/
}

.square/*ラインに見せるために背景一面黒にした*/
{
    position            : absolute;
    width               : 33px;
    height              : 33px;
    background-color    : #000000;/*線の色*/
}

.block/*石の素材*/
{
    display             : block;
    position            : relative;
    top                 : 1px;
    left                : 1px;
    width               : 31px;
    height              : 31px;
}

.score
{   position            : relative;
    top                 : 10px;
    left                : 300px;
}